# Workspace files
.vscode/
.clang-format

# Testing files
*.jpg
*.jpeg
*.png
*.txt
*.bin
*.in
*.tif
!PowerCodersLogo.png
#Exceptions
!prime2048.txt
!seed.txt

# Executable files
*.out
*.o

#Library files
libraries/*/
libraries/*.zip

