# Workspace files
.vscode/
.clang-format

# Testing files
*.jpg
*.jpeg
*.png
*.txt
*.bin
*.in
*.tif

#Exceptions
!PowerCodersLogo.png
!prime2048.txt
!seed.txt
!CmakeLists.txt

# Executable files
*.out
*.o